# ================================
# IntelliJ / IDE
# ================================
.idea/
*.iml
*.ipr
*.iws
out/

# ================================
# Maven / Java
# ================================
target/
*.log
*.class

# ================================
# Node / Angular
# ================================
node_modules/
dist/
.angular/
coverage/

# ================================
# OS Files
# ================================
.DS_Store
Thumbs.db

# ================================
# Environment
# ================================
.env