# ======================
# Backend (Spring Boot)
# ======================
backend/target/
*.class
*.log

# ======================
# Frontend (Angular)
# ======================
frontend/node_modules/
frontend/dist/
frontend/.angular/

# ======================
# IDE
# ======================
.idea/
.vscode/

# ======================
# OS
# ======================
.DS_Store
Thumbs.db