<div class="auth-container">

  <div class="auth-card">

    <h2 class="title">Create Account</h2>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <input type="text" placeholder="Full Name" formControlName="username">
      <input type="email" placeholder="Email Address" formControlName="email">
      <input type="password" placeholder="Password" formControlName="password">

      <input type="text"
             formControlName="securityQuestion"
             readonly>

      <input type="text"
             placeholder="Security Answer"
             formControlName="securityAnswer">

      <input type="text"
             placeholder="Password Hint (Optional)"
             formControlName="passwordHint">

      <button type="submit">Register</button>

    </form>

    <p class="switch">
      Already have an account?
      <a routerLink="/login">Login</a>
    </p>

  </div>

</div>
